BasedOnStyle: Microsoft
PointerAlignment: Left
NamespaceIndentation: All
AlwaysBreakTemplateDeclarations: Yes
AccessModifierOffset: -4
ColumnLimit: 120
SpaceAfterCStyleCast: true
PackConstructorInitializers: Never
BreakConstructorInitializers: AfterColon
Cpp11BracedListStyle: false
